# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
application-dev.yml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
